@import "reset.css";
@import "fonts.css";
@import "atoms.css";
@import "components.css";
@import "main_page.css";
@import "colors.css";
@import "font.css";
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #00ED43;
}
.contacts > *, .contacts p, .contact .social > * {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-delay: 0s, 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.8, 0.5, 2), linear;
}
.white , .navigation {
  height: 20px;
  margin-top: 33px;
  margin-left: 240px;
}
.navigation_slider , .white {
  position: absolute;
  height: 20px;
  margin-top: 33px;
  margin-left: 80px;
}
.nav1, .nav2 {
  display: inline-block;
  margin-right: 12px;
  height: 20px;
}
.nav3 {
  width: 10px;
  height: 14px;
  display: inline-block;
  margin-right: 12px;
  background-image: url(../images/arrow1.svg);
}
.nav5 {
  position: absolute;
  display: inline-block;
  height: 20px;
  margin-right: 120px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 86px;
  margin-left: 240px;
  margin-right: 112px;
  min-height: calc(100vh - 86px);
}
.book_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 208px;
  height: 100vh;
}
.top { margin-top: 70px; }
.article { margin-left: 112px; }
.article .event {
  margin-top: 68px;
}
